<%= form_with url: search_properties_path, method: :get do |f| %>
  <div class="container-fluid bg-primary mb-5 wow fadeIn" data-wow-delay="0.1s" style="padding: 35px;">
    <div class="container">
      <div class="row g-2">
        <div class="col-md-10">
          <div class="row g-2">
            <div class="col-md-8">
              <%= f.search_field :region, class: "form-control border-0 py-3", placeholder: "Search by region" %>
            </div>
            <div class="col-md-4">
              <%=
                select_tag :property_type, options_for_select([["Any", "any"]] + Constants.property_types.map { |k, v| [v, k] }), class: "form-select boder-0 py-3"
              %>
            </div>
          </div>
        </div>
        <div class="col-md-2">
          <%= f.submit "Search", class: "btn btn-dark border-0 w-100 py-3" %>
        </div>
      </div>
    </div>
  </div>
<% end %>
